<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoFixture" version="4.13.0" targetFramework="net48" />
  <package id="AutoFixture.AutoNSubstitute" version="4.13.0" targetFramework="net48" />
  <package id="coverlet.collector" version="1.3.0" targetFramework="net48" developmentDependency="true" />
  <package id="coverlet.msbuild" version="2.9.0" targetFramework="net48" developmentDependency="true" />
  <package id="DotLiquid" version="2.0.333" targetFramework="net48" />
  <package id="Fare" version="2.1.1" targetFramework="net48" />
  <package id="LightInject" version="5.4.0" targetFramework="net48" />
  <package id="LightInject.Annotation" version="1.1.0" targetFramework="net48" />
  <package id="LightInject.Web" version="2.0.0" targetFramework="net48" />
  <package id="LiquidTestReports.Core" version="1.0.1" targetFramework="net48" />
  <package id="LiquidTestReports.Markdown" version="1.0.1" targetFramework="net48" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.7" targetFramework="net48" />
  <package id="Microsoft.Azure.Search" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Common" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Data" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Search.Service" version="10.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.18" targetFramework="net48" />
  <package id="Microsoft.Spatial" version="7.5.3" targetFramework="net48" />
  <package id="Microsoft.TestPlatform.ObjectModel" version="16.6.1" targetFramework="net48" />
  <package id="MiniProfiler" version="4.0.138" targetFramework="net48" />
  <package id="MiniProfiler.Shared" version="4.0.138" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net48" />
  <package id="NPoco" version="3.9.4" targetFramework="net48" />
  <package id="NSubstitute" version="2.0.3" targetFramework="net48" />
  <package id="NuGet.Frameworks" version="5.0.0" targetFramework="net48" />
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Semver" version="2.0.4" targetFramework="net48" />
  <package id="Serilog" version="2.8.0" targetFramework="net48" />
  <package id="Serilog.Enrichers.Process" version="2.0.1" targetFramework="net48" />
  <package id="Serilog.Enrichers.Thread" version="3.0.0" targetFramework="net48" />
  <package id="Serilog.Filters.Expressions" version="2.0.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net48" />
  <package id="Serilog.Formatting.Compact.Reader" version="1.0.3" targetFramework="net48" />
  <package id="Serilog.Settings.AppSettings" version="2.2.2" targetFramework="net48" />
  <package id="Serilog.Sinks.Async" version="1.3.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net48" />
  <package id="Serilog.Sinks.Map" version="1.0.0" targetFramework="net48" />
  <package id="Superpower" version="2.0.0" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.4.1" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Umbraco.SqlServerCE" version="4.0.0.1" targetFramework="net48" />
  <package id="UmbracoCms.Core" version="8.6.4" targetFramework="net48" />
  <package id="xunit" version="2.4.1" targetFramework="net48" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net48" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net48" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net48" />
  <package id="xunit.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net48" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.4.3" targetFramework="net48" developmentDependency="true" />
</packages>